body {
   background-color: black;
   font-family:verdana;
   text-align: center;
}
a{
  color:aquamarine;
  font-size:16px;
  text-align: center;
}
h1{
  font-size: 50px;
  color: white;
  font-weight: normal;
}
.header2{
  font-size: 42px;
  font-weight: 300;
  color: white;
}

.explanation{
  font-size: 21px;
  color: grey;
}
.tent{
  width: 900px;
  height:700px;
}
.copy{
  color: grey;
  text-align: right
}
